@page "/SellerMainPage/{Id:int}"
@using MatBlazor
@using Services
@using Models
@inject NavigationManager NavigationManager

<PageTitle>Index</PageTitle>

<h1>Internetinė gėlių parduotuvė</h1>


<MatTabGroup>
    <MatTab Label="Katalogas">
        <br>
        <div class="mat-layout-grid">
            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
                <p>
                    <MatTextField TValue="String" Label="Paieška" Icon="search" FullWidth="true"  IconTrailing="true" Outlined="true"></MatTextField>
                </p>
            </div>
            <div class="mat-layout-grid-inner">
                @foreach (var item in items)
                {
                    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-1"/>
                        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-4">
                            <MatCard class="demo-mat-card">
                                <MatCardContent>
                                <MatCardMedia Wide="true" ImageUrl=@item.Image></MatCardMedia>
                                    <div class="demo-mat-card-content">
                                        <MatHeadline6 class="demo-mat-card-clean-margin" Style="align-self">
                                            @item.Name
                                        </MatHeadline6>
                                        <MatSubtitle2 class="demo-mat-card-clean-margin">
                                            Nuolaida - netaikoma, Kaina (vnt.): @item.Price €
                                        </MatSubtitle2>
                                    </div>
                                </MatCardContent>
                                <MatCardActions>
                                <MatButton @onclick='() => NavigateToIndividualItem(item.ID)'>Detaliau</MatButton>
                                </MatCardActions>
                            </MatCard>
                        </div>
                    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-1" />
                }
            </div>
        </div>
    </MatTab>
    <MatTab Label="Užsakymai">
            <div class="mat-layout-grid-inner">
                 @foreach (var order in orders)
                    {
                    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12">
                        <MatCard class="demo-mat-card">
                            <MatCardContent>
                                <div class="demo-mat-card-content">
                                    <p>Pavadinimas</p>
                                    <p>Uzsakymo data: @order.OrderCreateDate</p>
                                    <p>Kiekis: 1</p>
                                    <p>Iš viso sumokėta: 10.00€      <MatButton Class="button" Outlined="true">Detaliau</MatButton></p>
                                </div>
                            </MatCardContent>
                        </MatCard>
                    </div>
                    }
            </div>
    </MatTab>
    <MatTab Label="Atsijungti" @onclick='() => NavigationManager.NavigateTo("/")'>
        To be done
    </MatTab>
</MatTabGroup>

@code {
    [Parameter]
    public int Id { get; set; }

    List<Item> items = new List<Item>();

    List<Order> orders = new List<Order>();

    protected override async Task OnInitializedAsync()
    {
        APIController apiController = new APIController();
        items = await apiController.GetAllItems(Id);

        orders = await apiController.GetAllOrders(Id);
    }

    public void NavigateToIndividualItem(int id)
    {
        NavigationManager.NavigateTo($"/seller/{Id}/item/{id}");
    }
}